<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Rate Cafe</h1>
  <p><strong>name : </strong><%= cafe.name %></p>
  <p><strong>phone : </strong><%= cafe.phone %></p>
  <p><strong>Total Ratings : </strong><%= cafe.reviewCount %></p>
</body>
</html>